
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Lora', serif;
    background-color: #4a5867;
}

p {
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

ul {
  text-decoration: none;
  list-style: none;
  line-height: 1.8rem;
}

.content {
  background-color: #4a5867;
  padding-left:10%;
}

.headerTop {
  font-family: 'Istok-Web', sans-serif;
  font-size:  5rem;
  color: #55a6dc;
  padding-top:200px;
}

.hello {
  color: #FFFFFF;
}

.doThings {
  color: #55a6dc;
  font-size: 2rem;
}

.boldHeader {
  font-weight: 700;
}

.links {
  font-weight: 'Lora', serif;
  color: #FFFFFF;
  padding-top: 40px;
}
